<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/styles/an-old-hope.min.css">

<style>
.hljs {
    background: var(--highlight-background) !important;
}
</style>