<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@latest/build/highlight.min.js"></script>

<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@latest/build/languages/bash.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@latest/build/languages/c.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@latest/build/languages/cpp.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@latest/build/languages/css.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@latest/build/languages/dns.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@latest/build/languages/dockerfile.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@latest/build/languages/go.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@latest/build/languages/http.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@latest/build/languages/ini.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@latest/build/languages/java.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@latest/build/languages/javascript.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@latest/build/languages/json.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@latest/build/languages/latex.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@latest/build/languages/makefile.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@latest/build/languages/markdown.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@latest/build/languages/nginx.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@latest/build/languages/python.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@latest/build/languages/shell.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@latest/build/languages/sql.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@latest/build/languages/typescript.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@latest/build/languages/xml.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@latest/build/languages/yaml.min.js"></script>

<script>
document.addEventListener('DOMContentLoaded', (event) => {
  document.querySelectorAll('.code pre span').forEach((el) => {
    hljs.highlightElement(el);
  });
});
</script>